* {
    box-sizing: border-box;
}

#nul__el {
    color: rgba(255, 255, 255, 0);
    display: flex;
    display: inline-block;
    position: fixed;
    left: 0;
    top: 0;
    font-size: 5px;
    line-height: 7px;
}

.image {
    width: 1036px;
    height: 690px;
}

.logo {
    width: 204px;
    height: 44px;
}

@media (max-width: 1100px) {
    .image {
        width: 809px;
        height: 539px;
    }
}

@media (max-width: 850px) {
    .image {
        width: 581px;
        height: 387px;
    }
}

@media (max-width: 630px) {
    .logo {
        width: 204px;
        height: 44px;
    }

    .image {
        width: 405px;
        height: 270px;
    }
}

@media (max-width: 468px) {
    .logo {
        width: 109px;
        height: 25px;
    }

    .image {
        width: 268px;
        height: 178px;
    }
}

.a {
    text-decoration: none;
    display: inline-block;
}

.colortext {
    color: #00C2FF;
}


@media (max-width: 768px) {
    .colortext {
        font-size: 24px;
        line-height: 24px;
    }

    .slider__colortext {
        font-size: 14px;
        line-height: 16px;
    }


}

@media (max-width: 630px) {
    .about__colortext {
        font-size: 15px;
        line-height: 17px;
    }
}

@media (max-width: 468px) {
    .about__colortext {
        font-size: 10px;
        line-height: 11px;
    }
}

body {
    font-family: 'Comfortaa', cursive;
    text-align: center;
}

body.lock {
    overflow: hidden;
}

h2 {
    color: #55DFFF;
    font-family: Comfortaa;
    font-size: 62px;
    line-height: 69px;
    text-align: center;
    padding-top: 200px;
    font-weight: 400;
}

@media (max-width: 768px) {
    h2 {
        padding-top: 150px;
        font-size: 42px;
        line-height: 44px;
    }
}

@media (max-width: 630px) {
    h2 {
        padding-top: 100px;
        font-size: 26px;
        line-height: 29px;
    }
}

@media (max-width: 468px) {
    h2 {
        padding-top: 60px;
        font-size: 20px;
        line-height: 22px;
    }
}


li {
    list-style-type: none;
}

.title__h3 {
    font-size: 42px;
    line-height: 47px;
    color: #00C2FF;
    font-weight: 400;
}

@media (max-width: 768px) {
    .title__h3 {
        padding-top: 60px;
        font-size: 42px;
        line-height: 44px;
    }
}

@media (max-width: 630px) {
    .title__h3 {
        padding-top: 60px;
        font-size: 26px;
        line-height: 29px;
    }
}

@media (max-width: 468px) {
    .title__h3 {
        font-size: 14px;
        line-height: 16px;
    }
}


.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
}



.header__top {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    background-image: url(../img/1-1.png);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70% 50%;
}

.header__top-2 {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    background-image: url(../img/1-2.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 50%;
}

.header__top-3 {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    background-image: url(../img/1-3.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25% 50%;
}

@media (max-width: 1024px) {
    .header__top {
        background-position: 84% 50%;
    }

    .header__top-2 {
        background-position: 23% 50%;
    }

    .header__top-3 {
        background-position: 70% 50%;
    }
}

@media (max-width: 768px) {
    .header__top {
        background-position: 70% 50%;
    }

    .header__top-2 {
        background-position: 22% 50%;
    }

    .header__top-3 {
        background-position: 60% 50%;
    }
}

@media (max-width: 375px) {
    .header__top {
        background-position: 74% 50%;
    }
}

.header_top-inner {
    margin: auto;
}

.header__title {
    font-size: 70px;
    line-height: 78px;
    text-align: center;
    font-weight: 400;
}

@media (max-width: 1500px) {
    .header__title {
        font-size: 60px;
        line-height: 60px;
    }
}

@media (max-width: 768px) {
    .header__title {
        font-size: 48px;
        line-height: 48px;
    }
}

@media (max-width: 520px) {
    .header__title {
        font-size: 24px;
        line-height: 24px;
    }
}

.header__text {
    font-size: 42px;
    line-height: 47px;
    white-space: nowrap;
    text-align: center;
    padding: 62px 0;
}


@media (max-width: 768px) {
    .header__text {
        font-size: 24px;
        line-height: 24px;
    }
}

@media (max-width: 468px) {
    .header__text {
        font-size: 14px;
        line-height: 14px;
    }
}


.menu {
    position: absolute;
    z-index: -9999999;
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.menu__1__list-container {
    z-index: 999999999999;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    margin: 0 auto;

    margin-top: 46px;


}

.menu__1__list {
    display: flex;
    justify-content: center;
    align-items: center;


}

.menu__1__list-item {
    padding-left: 32px;
    padding-right: 32px;
}

.menu__1__list-link {
    color: #FFFFFF;
    text-decoration: none;
    padding-top: 40px;
    font-size: 20px;
    line-height: 22px;
    transition: all .2s;
}


@media (max-width: 1320px) {
    .menu__1 {
        display: none;
    }
}

@media (max-width: 1500px) {
    .menu {
        width: 1300px;
    }
}


@media (max-width: 1199px) {
    .menu {
        width: 100%;
        height: 100%;
    }
}

.menu-active {
    z-index: 36;
}

@media (max-width: 1200px) {

    .menu__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
}

.menu__list-item {
    margin: 0 46px;
}
.menu_number{
    color: #FFFFFF;
    text-decoration: none;
}

@media (max-width: 1500px) {
    .menu__list-item {
        margin: 0 26px;
    }
}

.menu__list-item_1 {
    padding-top: 26px;
}

@media (max-width: 1299px) {
    .menu__list-item_1 {
        position: absolute;
        left: 50%;
        top: -12px;
        transform: translateX(-50%);
    }
}

.menu__list-link {
    color: #FFFFFF;
    text-decoration: none;
    padding-top: 40px;
    font-size: 20px;
    line-height: 22px;
    transition: all .2s;
}

@media (max-width: 1500px) {
    .menu__list-link {
        font-size: 18px;
    }
}

.header__massanger {
    display: flex;
    align-items: flex-end;
    padding-top: 45px;
}

.menu__list-inst {
    padding-right: 16px;
}
.menu_number_desktop {
    color: #FFFFFF;
    position: relative;
    top:63px;
    left: 705px;
    z-index: 300;
}
.menu_number_desktop-link{
    text-decoration: none;
    color: #FFFFFF;
    position: relative;
    top:63px;
    left: 705px;
    z-index: 300;
    cursor: pointer;
}

.about__title {
    padding-top: 180px;
    padding-bottom: 71px;
}

.burger {
    display: none;

}

@media (max-width: 1320px) {
    .menu__list-item {

        padding-top: 50px;

    }


    .burgerwrapper {

        position: absolute;
        /* Можно сделать выпадающее меню фиксированным */
        right: 16px;
        top: 16px;
        cursor: pointer;
        z-index: 11111111111111111111;
    }

    .burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 1666666;
    }

    .burger span {
        position: absolute;
        background-color: rgba(0, 255, 240, 1);
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;

        transition: all 0.3s ease 0s;
    }

    .burger:before,
    .burger:after {
        content: '';
        background-color: rgba(0, 255, 240, 1);
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;

        transition: all 0.3s ease 0s;
    }

    .burger:before {
        top: 0;
    }

    .burger:after {
        bottom: 0;
    }

    .burger-active span {
        transform: scale(0);
        top: 9px;
    }

    .burger-active:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .burger-active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }


    .menu__list-container {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url(../img/1-1.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 70% 50%;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: -9999999;
    }

    .menu__list-container-active {
        opacity: 1;
        z-index: 1000000000000000000;
    }

    .menu__list {
        display: block;

    }

    .menu__list-item,
    .menu__list-item_1 {
        margin: 0 0 20px;
    }

}




.about__text {
    color: #787878;
    font-size: 26px;
    line-height: 29px;
    padding-top: 40px;
    padding-bottom: 66px;
    max-width: 793px;
    margin: 0 auto;
}

@media (max-width: 850px) {
    .about__title {
        padding-top: 150px;
    }

    .about__text {
        max-width: 550px;
    }

}

@media (max-width: 630px) {
    .about__title {
        padding-top: 100px;
        padding-bottom: 50px;
    }

    .about__text {
        font-size: 15px;
        line-height: 17px;
        max-width: 350px;
        padding-top: 25px;
        padding-bottom: 40px;
    }
}

@media (max-width: 468px) {
    .about__title {
        padding-top: 60px;
        padding-bottom: 23px;
    }

    .about__text {
        font-size: 10px;
        line-height: 11px;
        max-width: 237px;
        padding-top: 15px;
        padding-bottom: 20px;
    }
}
.program{
    position: relative;
}

.program__title {
    padding-bottom: 94px;
}

@media (max-width: 850px) {
    .program__title {
        padding-bottom: 26px;
    }
}



.image-slider__slide {
    padding-left: 258px;
}


.imge-slider__image {
    text-align: center;
    width: 666px;
    height: 444px;
    background-size: cover;
}


.imge-slider__image img {
    max-width: 100%;
}

.imge-slider__image-1 {
    background-image: url(../img/prog1.png);

}

.imge-slider__image-2 {
    background-image: url(../img/prog2.png);

}

.imge-slider__image-3 {
    background-image: url(../img/prog3.png);

}

.imge-slider__image-4 {
    background-image: url(../img/prog4.png);

}

.imge-slider__image-5 {
    background-image: url(../img/prog5.png);

}

.image-slider__title {
    font-size: 70px;
    line-height: 78px;
    text-align: center;
    color: #55DFFF;
    padding: 74px 0 24px;
}

.image-slider__text {
    font-size: 28px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    padding-bottom: 38px;
}

.program-button {
    display: none;
}

.program__button1 {
    display: block;
    margin: 0 auto;
}


@media (max-width:1900px) {
    .image-slider__slide {
        padding-left: 230px;
    }

    .imge-slider__image {
        width: 530px;
        height: 353px;
    }

    .image-slider__text {
        max-width: 300px;
        font-size: 22px;
        line-height: 24px;

    }




}

@media (max-width:1440px) {
    .image-slider__slide {
        padding-left: 230px;
    }

    .imge-slider__image {
        width: 408px;
        height: 272px;
    }

    .image-slider__title {
        font-size: 50px;
        line-height: 58px;
        padding: 36px 0 8px;
    }

    .image-slider__text {
        font-size: 19px;
        line-height: 22px;

    }
}

@media (max-width: 1025px) {
    .image-slider__slide {
        padding-left: 160px;
    }
}

@media (max-width:1100px) {
    .image-slider__slide {
        padding-left: 230px;
    }

    .imge-slider__image {
        width: 302px;
        height: 201px;
    }

    .image-slider__text {
        font-size: 16px;
        line-height: 17px;
        max-width: 169px;
    }

    .program-button {
        display: block;
        margin: 26px auto 0;
    }

    .program__button1 {
        display: none;
    }
}

@media (max-width: 850px) {
    .image-slider__slide {
        padding-left: 200px;
    }

    .imge-slider__image {
        width: 238px;
        height: 158px;
    }

    .image-slider__title {
        font-size: 36px;
        line-height: 40px;
        padding: 36px 0 8px;
    }

    .image-slider__text {
        font-size: 12px;
        line-height: 13px;
        max-width: 169px;
    }


}



@media (max-width: 769px) {
    .image-slider__slide {
        padding-left: 105px;
    }
}

@media (max-width: 414px) {
    .image-slider__slide {
        padding-left: 88px;
    }
}

@media (max-width: 375px) {
    .image-slider__slide {
        padding-left: 68px;
    }
}

@media (max-width: 360px) {
    .image-slider__slide {
        padding-left: 63px;
    }
}

@media (max-width: 321px) {
    .image-slider__slide {
        padding-left: 46px;
    }
}

@media (max-width: 300px) {
    .image-slider__slide {
        padding-left: 20px;
    }
}

.image-slider__header {
    position: relative;
}

#header__button {
    position: absolute;
    bottom: 180px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 1;
}
@media (max-width: 377px) {
    #header__button{
    bottom: 130px;
    }
}
@media (max-width: 373px) {
    #header__button{
    bottom: 180px;
    }
}

#header__pagination {
    position: absolute;
    z-index: 9;
    bottom: 42px;
    left: 50%;
    transform: translateX(-50%);
}

.header .swiper-pagination {
    bottom: 0;
}

.header .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    line-height: 10px;
    font-size: 10px;
    margin: 0 5px;
    background-color: #55DFFF;
}

.swiper-button-prev {
    padding-left: 250px;
    padding-top: 200px;
}

.swiper-button-prev::after {
    color: rgba(255, 255, 255, 0);
    width: 72px;
    height: 72px;
    background-image: url(../img/right.svg);
    transform: rotate(-180deg);
    position: absolute;

}

.swiper-button-next {
    padding-right: 255px;
    padding-top: 200px;
}

.swiper-button-next::after {
    color: rgba(255, 255, 255, 0);
    width: 72px;
    height: 72px;
    background-image: url(../img/right.svg);
    position: absolute;
}

@media (max-width: 1600px) {

    .swiper-button-prev::after,
    .swiper-button-next::after {
        display: none;
    }

}

.benefits__title {
    padding-bottom: 103px;
}

.benefits__statistic {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-bottom: 86px;
}

.benefits__statistic-text {
    color: #787878;
    font-family: Comfortaa;
    font-size: 28px;
    line-height: 31px;
    text-align: center;
}

@media (max-width: 1015px) {
    .benefits__statistic-item {
        margin: 0 0 70px;
    }

    .benefits__statistic {
        display: block;
    }
}

@media (max-width: 850px) {
    .benefits__title {
        padding-bottom: 64px;
    }

    .benefits__statistic-item {
        margin: 0 0 60px;
    }

    .benefits__statistic {
        display: block;
        padding-bottom: 66px;
    }

    .benefits__statistic-images {
        width: 64px;
        height: 64px;
    }

    .benefits__statistic-text,
    .benefits__colortext {
        font-size: 26px;
        line-height: 29px;
    }

}

@media (max-width: 630px) {
    .benefits__title {
        padding-bottom: 54px;
    }

    .benefits__statistic-item {
        margin: 0 0 50px;
    }

    .benefits__statistic {
        display: block;
        padding-bottom: 46px;
    }

    .benefits__statistic-images {
        width: 54px;
        height: 54px;
    }

    .benefits__statistic-text,
    .benefits__colortext {
        font-size: 15px;
        line-height: 17px;
    }

}

@media (max-width: 468px) {
    .benefits__title {
        padding-bottom: 26px;
    }

    .benefits__statistic-item {
        margin: 0 0 50px;
    }

    .benefits__statistic {
        display: block;
        padding-bottom: 26px;
    }

    .benefits__statistic-images {
        width: 41px;
        height: 41px;
    }

    .benefits__statistic-text,
    .benefits__colortext {
        font-size: 12px;
        line-height: 13px;
    }
}


.water {
    padding-bottom: 200px;
}

.water__title {
    padding-bottom: 71px;
}

.water__container {
    max-width: 729px;
    margin: 0 auto;
    position: relative;
}

.water__text {
    color: #00C2FF;
    font-weight: bold;
    display: inline-block;
    font-size: 38px;
    line-height: 42px;
    padding-top: 40px;
    margin-bottom: 80px;
}



@media (max-width: 1000px) {
    .water__text {
        margin-bottom: 10px;
    }
}

@media (max-width: 850px) {
    .water {
        padding-bottom: 160px;
    }

    .water__title {
        padding-bottom: 56px;
    }

    .water__container {
        max-width: 529px;
    }

    .water__text {
        font-size: 26px;
        line-height: 29px;
        padding-top: 40px;
        margin-bottom: 10px;
    }
}

@media (max-width: 630px) {
    .water {
        padding-bottom: 120px;
    }

    .water__title {
        padding-bottom: 46px;
    }

    .water__container {
        max-width: 329px;
    }

    .water__text {
        font-size: 15px;
        line-height: 17px;
        padding-top: 40px;
        margin-bottom: 6px;
    }
}

@media (max-width: 468px) {
    .water {
        padding-bottom: 67px;
    }

    .water__title {
        padding-bottom: 26px;
    }

    .water__container {
        max-width: 234px;
    }

    .water__text {
        font-size: 12px;
        line-height: 13px;
        padding-top: 15px;
        margin-bottom: 6px;
    }
}



.mod-body {
    position: relative;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    z-index: -100000;
}

.mod-body-active {
    height: 100%;
    opacity: 1;
    visibility: visible;
    z-index: 11111;
}

.mod-link-img {
    position: absolute;
    right: -80px;
    top: 24%;
    transform: rotate(-180deg);
    transition: 0.2s;
}

@media (max-width: 1000px) {
    .mod-link-img {
        position: static;
    }
}

@media (max-width: 850px) {
    .mod-link-img {
        width: 50px;
        height: 50px;
        position: static;
    }
}

@media (max-width: 630px) {
    .mod-link-img {
        width: 32px;
        height: 32px;
        position: static;
    }
}

@media (max-width: 468px) {
    .mod-link-img {
        width: 32px;
        height: 32px;
        position: static;
    }
}

.mod-link-img-active {
    transform: rotate(0);
}

.mod.open {
    opacity: 1;
    visibility: visible;
}

.mod__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/mod.png);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 1136px;
    background-size: cover;
    margin-bottom: 60px;
    padding-bottom: 40px;
}

.mod__logo {
    margin-top: 163px;
}

.mod__text {
    font-size: 26px;
    line-height: 29px;
    color: #787878;
    padding-top: 87px;
    max-width: 1100px;
    margin: 0 auto;
}

.mod__text-p {
    margin-bottom: 52px;
}

@media (max-width: 1440px) {

    .mod__text,
    .mod__colortext {
        max-width: 840px;
        padding-top: 30px;
    }
}

@media (max-width: 1100px) {

    .mod__text,
    .mod__colortext {
        max-width: 600px;
    }

    .mod__logo {
        margin-top: 100px;
    }
}

@media (max-width: 630px) {
    .mod__content {
        min-height: 477px;
    }

    .mod__body {
        min-height: 477px;
        padding-top: 20px;
        margin-bottom: 40px;
    }

    .mod__logo {
        margin-top: 46px;
    }

    .mod__text,
    .mod__colortext {
        font-size: 10px;
        line-height: 11px;
        max-width: 292px;
        padding-top: 28px;
    }

    .mod__text-p {
        margin-bottom: 30px;
    }
}

.water_reg {
    background-image: url(../img/5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    width: 1036px;
    height: 690px;
    margin-top: 6px;
}

.water_reg-title {
    padding-top: 177px;
    color: #FFFFFF;
    text-align: center;
    word-wrap: break-word;
}

.water_reg-text {
    color: #FFFFFF;
    font-size: 36px;
    line-height: 40px;
    padding-top: 40px;
    padding-bottom: 60px;
    text-align: center;
    word-wrap: break-word;
}

@media (max-width: 1100px) {
    .water_reg {
        width: 806px;
        height: 537px;
    }

    .water_reg-text,
    .water_colortext {
        font-size: 30px;
        line-height: 35px;
        padding-top: 10px;
    }
}

@media (max-width: 850px) {

    .water_reg-title,
    .water_reg-colortext {
        font-size: 36px;
        line-height: 40px;
        padding-top: 110px;
    }

    .water_reg {
        width: 581px;
        height: 387px;
    }

    .water_reg-text,
    .water_colortext {
        font-size: 20px;
        line-height: 22px;
        padding-top: 8px;
    }
}

@media (max-width: 630px) {

    .water_reg-title,
    .water_reg-colortext {
        font-size: 26px;
        line-height: 28px;
        padding-top: 88px;
    }

    .water_reg {
        width: 405px;
        height: 270px;
    }

    .water_reg-text,
    .water_colortext {

        font-size: 15px;
        line-height: 17px;
        padding-top: 8px;
        padding-bottom: 120px;
    }
}


@media (max-width: 468px) {

    .water_reg-title,
    .water_reg-colortext {
        font-size: 18px;
        line-height: 20px;
        padding-top: 55px;
    }

    .water_reg {
        width: 268px;
        height: 178px;
    }

    .water_reg-text,
    .water_colortext {
        font-size: 12px;
        line-height: 13px;
        padding-top: 8px;
        padding-bottom: 82px;
    }

}

.recording {
    background-image: url(../img/6.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 858px;
}

.recording__logo {
    margin: 138px 0 60px;
}

.recording__title {
    margin: 0 auto;
}

.recording__text {
    padding: 12px 0 3px;
    font-weight: bold;
    font-size: 38px;
    line-height: 42px;
    color: #00FFF0;
}


@media (max-width: 1440px) {
    .recording__logo {
        margin: 80px 0 36px;
    }
}

@media (max-width: 850px) {
    .recording__logo {
        margin: 80px 0 36px;
    }

    .recording__title {
        font-size: 36px;
        line-height: 40px;
        padding-top: 0;
    }

    .recording__text {
        font-size: 25px;
        line-height: 27px;
        padding-top: 8px;
    }
}

@media (max-width: 630px) {
    .recording {
        min-height: 720px;
    }

    .recording__title {
        font-size: 20px;
        line-height: 22px;
        width: 254px;

    }

    .recording__text {
        font-size: 20px;
        line-height: 22px;
    }
}

.condition__title {
    padding-bottom: 113px;
}

.conditions__block {
    max-width: 1420px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-bottom: 70px;

}

.conditions-block {
    width: 437px;
    height: 437px;
    background-size: cover;
    align-items: center;

}

.conditions__block-1 {
    background-image: url(../img/7-1.png);

}

.conditions__block-2 {
    background-image: url(../img/7-2.png);

}

.conditions__block-3 {
    background-image: url(../img/7-3.png);

}

.conditions__block-title {
    color: #55DFFF;
    font-size: 70px;
    line-height: 78px;
    font-weight: 400;
    padding-top: 134px;
    padding-bottom: 16px;
}

.conditions__block-text {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
}

@media (max-width: 1420px) {
    .conditions__block {
        display: inline-block;

    }

    .conditions-block {
        margin-bottom: 28px;
    }

}

@media (max-width: 850px) {
    .condition__title {
        padding-bottom: 80px;
    }


    .conditions__block-title {
        padding-top: 130px;
    }
}

@media (max-width: 630px) {
    .conditions__block {
        padding-bottom: 26px;
    }

    .condition__title {
        padding-bottom: 50px;
    }

    .conditions-block {
        width: 177px;
        height: 177px;
        margin-bottom: 18px;
    }

    .conditions__block-title {
        font-size: 30px;
        line-height: 33px;
        padding-bottom: 5px;

        padding-top: 50px;

    }

    .conditions__block-text,
    .conditions__colortext {
        font-size: 14px;
        line-height: 16px;
    }
}

@media (max-width: 468px) {
    .condition__title {
        padding-bottom: 26px;
    }

}

.receive__num-text {
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    color: #787878;
}

.receive__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    max-width: 1099px;
    padding-bottom: 69px;
}

.receive__container-block {
    flex: 33%;
}

.receive__container-block:nth-child(2) {
    padding-right: 65px;
}

.receive__container-block:nth-child(3) {
    padding-right: 58px;
}

@media (max-width: 850px) {
    .receive__container-block {
        flex: 49%;
        padding-bottom: 44px;
    }

    .receive-title {
        height: 42px;
    }

    .receive__num-text,
    .receive__colortext {
        font-size: 12px;
        line-height: 13px;
    }

    .receive__container-block:nth-child(2) {
        padding-right: 0;
    }

    .receive__container-block:nth-child(3) {
        padding-right: 0;
    }
}

@media (max-width: 630px) {}

.receive__text {
    color: #00C2FF;
    font-weight: bold;
    font-size: 38px;
    line-height: 42px;
    max-width: 729px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 70px;
}

@media (max-width: 850px) {
    .receive__text {
        font-size: 26px;
        line-height: 29px;
        max-width: 600px;

    }

    .receive__button {
        display: none;
    }
}

@media (max-width: 630px) {
    .receive__text {
        font-size: 15px;
        line-height: 17px;
        max-width: 434px;
        padding-top: 40px;
        padding-bottom: 70px;
    }


}

@media (max-width: 468px) {
    .receive__text {
        font-size: 12px;
        line-height: 13px;
        max-width: 234px;
        padding-top: 15px;
        padding-bottom: 60px;
    }
}

#receive__logo {
    padding-top: 26px;
}

.sale {
    background-image: url(../img/8.png);
    width: 1420px;
    height: 751px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 110px;
}



.sale__title {
    color: #FFFFFF;
    max-width: 933px;
    margin: 0 auto;
    padding-top: 208px;
    padding-bottom: 63px;
}

.sale__text {
    padding-bottom: 37px;
}

.sale__text-none {
    color: #FFFFFF;
    text-decoration: line-through;
    font-weight: bold;
    font-size: 28px;
    line-height: 31px;
}

.sale__text-now {
    color: #55DFFF;
    padding-left: 20px;
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
}


@media (max-width: 1500px) {
    .sale {
        width: 819px;
        height: 433px;
    }

    .sale__title,
    .sale__colortext {
        font-size: 52px;
        line-height: 59px;
        max-width: 700px;
        padding-top: 46px;
        padding-bottom: 17px;
    }

    .sale__span {
        font-size: 22px;
        line-height: 23px;
    }

    .sale__text {
        margin-bottom: 0;
    }
}

@media (max-width: 850px) {
    .sale {
        width: 607px;
        height: 321px;
        margin-top: 0;
    }

    .sale__title,
    .sale__colortext {
        font-size: 37px;
        line-height: 36px;
        max-width: 700px;
        padding-top: 76px;
        padding-bottom: 25px;
    }

    .sale__span {
        font-size: 22px;
        line-height: 23px;
    }

    .sale__text {
        margin-bottom: 0px;
    }
}

@media (max-width: 630px) {
    .sale {
        width: 409px;
        height: 216px;

    }

    .sale__title,
    .sale__colortext {
        font-size: 23px;
        line-height: 26px;
        max-width: 270px;
        padding-top: 46px;
        padding-bottom: 17px;
    }

    .sale__span {
        font-size: 16px;
        line-height: 18px;
    }

    .sale__text {
        margin-bottom: 45px;
    }
}

@media (max-width: 468px) {
    .sale {
        width: 290px;
        height: 153px;

    }

    .sale__title,
    .sale__colortext {
        font-size: 16px;
        line-height: 18px;
        max-width: 268px;
        padding-top: 46px;
        padding-bottom: 17px;
    }

    .sale__span {
        font-size: 12px;
        line-height: 13px;
    }

    .sale__text {
        margin-bottom: 37px;
    }
}

.take__title {
    padding-bottom: 71px;
}

.take__logo {
    padding-bottom: 40px;
}

.take__baby {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    max-width: 1008px;
    margin-top: 80px;
    margin-bottom: 70px;
}

.take__baby-item {
    flex: 33%;
    align-self: flex-start;
}

.baby {
    padding-bottom: 120px;
}



.take__child {
    display: inline-flex;
    flex-wrap: wrap;

    max-width: 921px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 72px;
    margin-bottom: 84px;
}

.take__child-item {
    flex: 33%;
    padding-bottom: 33px;
}

.take__baby-text {
    font-size: 32px;
    line-height: 36px;
    color: #787878;
}


@media (max-width: 850px) {
    .take__title {
        margin-top: 60px;
        padding-bottom: 26px;
    }

    .take__logo {
        padding-bottom: 15px;
    }

    .baby {
        padding-bottom: 36px;
    }

    .title__baby {
        padding-top: 0;
    }

    .take__baby {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 300px;
        margin: 0 auto;
        padding-top: 36px;
    }

    .take__baby-item {
        padding-bottom: 36px;
        margin: 0 auto;
    }

    .take__child {
        margin-top: 36px;
        margin-bottom: 36px;
    }

    .take__child-item {
        flex: 49%;
    }

    .take__child-images {
        width: 48px;
        height: 48px;
    }

    .parents__title {
        padding: 0 0;
    }
}

@media (max-width: 630px) {
    .take__baby {
        max-width: 178px;
    }

    .take__baby-images {
        width: 43px;
        height: 43px;

    }

    .take__baby-text {
        font-size: 12px;
        line-height: 13px;
    }
}

.parents {
    padding-bottom: 108px;
}

.parents__title {
    padding-bottom: 70px;
}

.reference-box {
    position: relative;
    display: inline-block;
    margin-bottom: 109px;
}

.reference__title {
    position: relative;
}

.ref__button {
    width: 41px;
    height: 41px;
    position: absolute;
    left: 110%;
    top: 15%;
    transform: translateX(-110%);
    transform: translateY(-30%);
}

.ref-link-img {
    transform: rotate(-180deg);
    transition: 0.2s;
}

.ref-link-img-active {
    transform: rotate(0);
}

@media (max-width: 800px) {
    .ref__button {
        top: 110%;
        left: 105%;
        transform: translateY(-115%);
    }

    .ref-link-img {
        width: 32px;
        height: 32px;
    }

    .reference-box {
        margin-bottom: 20px;
    }

    .parents {
        padding-bottom: 0;
    }
}
@media (max-width: 630px) {
    .ref__button {
        top: 120%;       
    }
}
@media (max-width: 465px) {
    .ref__button {
        top: 130%;
        left: 105%;
    }
}
.ref-content {
    width: 100%;
    height: 0;
    transition: all 0.3s;
    opacity: 0;
    visibility: 0;
    margin-bottom: 80px;
}

.ref-content-active {
    height: 100%;
    opacity: 1;
    visibility: visible;
}

.ref__body {
    background-image: url(../img/ref.png);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 1136px;
    max-width: 1920px;
    padding-top: 1px;
}

.ref__content {
    max-width: 536px;
    margin: 0 auto;
}

.ref__logo {
    margin-top: 163px;
    margin-bottom: 60px;
}

.ref__title {
    color: #00C2FF;
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
    padding-top: 79px;
    padding-bottom: 28px;
}

.ref__text {
    color: #787878;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    padding-bottom: 3px;
}

@media (max-width: 728px) {

    .ref__title-h3 {
        padding-top: 0;
    }

    .ref__logo {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 50px;
    }

    .ref__body {
        max-width: 100%;
        height: 441px;
        background-size: cover;
        min-height: 100%;
    }

    .ref__title {
        font-size: 14px;
        line-height: 16px;
        padding-top: 28px;
        padding-bottom: 14px;
    }

    .ref__text {
        font-size: 12px;
        line-height: 13px;
    }
}

.reference__bord {
    background-image: url(../img/11.png);
    width: 1440px;
    height: 810px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.reference__title-bord {
    color: #FFFFFF;
    max-width: 784px;
    margin: 0 auto;
}

.reference_text {
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
    padding-top: 38px;
    padding-bottom: 60px;
}

@media (max-width: 1500px) {
    .reference__bord {
        width: 818px;
        height: 460px;
    }

    .reference__title-bord,
    .reference__colortext {
        font-size: 52px;
        line-height: 59px;
        max-width: 700px;
        padding-top: 46px;
        padding-bottom: 17px;
    }


    .reference_text,
    .reference__span {
        margin-bottom: 0;

        font-size: 22px;
        line-height: 23px;
    }


}

@media (max-width: 850px) {
    .reference__bord {
        width: 607px;
        height: 341px;
        margin-top: 0;
    }

    .reference__title-bord,
    .reference__colortext {
        font-size: 37px;
        line-height: 36px;
        max-width: 700px;
        padding-top: 76px;
        padding-bottom: 0x;
    }


    .reference_text,
    .reference__span {
        padding-bottom: 10px;
        padding-top: 0;
        font-size: 22px;
        line-height: 23px;
    }

}

@media (max-width: 630px) {
    .reference__bord {
        width: 409px;
        height: 230px;

    }

    .reference__title-bord,
    .reference__colortext {
        font-size: 23px;
        line-height: 26px;
        max-width: 270px;
        padding-top: 46px;
        padding-bottom: 17px;
    }


    .reference_text,
    .reference__span {
        margin-bottom: 45px;

        font-size: 16px;
        line-height: 18px;
    }

}

@media (max-width: 468px) {
    .reference__bord {
        width: 290px;
        height: 163px;

    }

    .reference__title-bord,
    .reference__colortext {
        font-size: 16px;
        line-height: 18px;
        max-width: 268px;
        padding-top: 46px;
        padding-bottom: 17px;
    }



    .reference_text,
    .reference__span {
        margin-bottom: 37px;

        font-size: 12px;
        line-height: 13px;
    }
}

.subscriptions__title {
    padding-bottom: 87px;
}

.subscriptions__title-num {
    width: 105px;
    height: 100px;
    margin: 0 auto;
    padding-bottom: 8px;
}



.subscriptions__title__h3 {
    font-weight: bold;
    font-size: 42px;
    line-height: 47px;
    color: #00C2FF;
}

.subscriptions__text-at {
    font-weight: bold;
    font-size: 30px;
    line-height: 33px;
    color: #787878;
    padding-top: 30px;
    padding-bottom: 114px;
}

.subscriptions__price {
    font-weight: bold;
    font-size: 38px;
    line-height: 42px;
    display: flex;
    justify-content: space-around;
}

.subscriptions__price-name {
    color: #00C2FF;
    text-align: left;
}

.subscriptions__price-num {
    color: #0DA2D1;
    text-align: left;
    margin-left: 100px;
}

#subscriptions__title-num-2 {
    margin-top: 39px;
}

.subscriptions__price-li {
    margin-bottom: 85px;
}

@media (max-width: 630px) {
    .subscriptions__title {
        padding-bottom: 26px;
        margin-top: 80px;
    }

    .subscriptions__title-num {
        width: 37px;
        height: 45px;
    }

    .subscriptions__title__h3 {
        font-size: 16px;
        line-height: 18px;
    }

    .subscriptions__text-at,
    .subscriptions__colortext {
        font-size: 12px;
        line-height: 13px;
        padding-bottom: 40px;
    }

    .subscriptions__price {
        font-size: 12px;
        line-height: 13px;
    }

    .subscriptions__price-num {

        margin-left: 74px;
    }

    .subscriptions__price-li {
        margin-bottom: 18px;
    }

}

.subscriptions__bord {
    background-image: url(../img/12.png);
    width: 1440px;
    height: 752px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    margin-top: 90px;
}

.subscriptions__bord-title {
    color: #FFFFFF;
    max-width: 949px;
    margin: 0 auto;
    padding-top: 224px;
    padding-bottom: 40px;

}

.subscriptions__bord-text {
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
    padding-bottom: 60px;
}

@media (max-width: 1500px) {
    .subscriptions__bord {
        width: 819px;
        height: 433px;
    }

    .subscriptions__bord-title,
    .subscriptions__title-colortext {
        font-size: 52px;
        line-height: 59px;
        max-width: 700px;
        padding-top: 46px;
        padding-bottom: 17px;
    }


    .subscriptions__bord-text,
    .subscriptions__text-colortext {
        margin-bottom: 0;

        font-size: 22px;
        line-height: 23px;
    }


}

@media (max-width: 850px) {
    .subscriptions__bord {
        width: 607px;
        height: 321px;
        margin-top: 0;
    }

    .subscriptions__bord-title,
    .subscriptions__title-colortext {
        font-size: 37px;
        line-height: 36px;
        max-width: 700px;
        padding-top: 76px;
        padding-bottom: 25px;
    }


    .subscriptions__bord-text,
    .subscriptions__text-colortext {
        margin-bottom: 0px;

        font-size: 22px;
        line-height: 23px;
    }

}

@media (max-width: 630px) {
    .subscriptions__bord {
        width: 409px;
        height: 216px;

    }

    .subscriptions__bord-title,
    .subscriptions__title-colortext {
        font-size: 23px;
        line-height: 26px;
        max-width: 270px;
        padding-top: 46px;
        padding-bottom: 17px;
    }


    .subscriptions__bord-text,
    .subscriptions__text-colortext {
        margin-bottom: 45px;

        font-size: 16px;
        line-height: 18px;
    }

}

@media (max-width: 468px) {
    .subscriptions__bord {
        width: 290px;
        height: 151px;

    }

    .subscriptions__bord-title,
    .subscriptions__title-colortext {
        font-size: 16px;
        line-height: 18px;
        max-width: 268px;
        padding-top: 46px;
        padding-bottom: 17px;
    }



    .subscriptions__bord-text,
    .subscriptions__text-colortext {
        margin-bottom: 37px;

        font-size: 12px;
        line-height: 13px;
    }
}



.address__map {
    padding-top: 97px;
    padding-bottom: 70px;
}

.address__map-text {
    font-size: 28px;
    line-height: 31px;
    color: #787878;
    padding-top: 23px;
    padding-bottom: 23px;
}

.address__num{
    font-size: 28px;
    line-height: 31px;
    color: #787878;
    border-bottom: none;
    text-decoration: none;
}



.map-images {
    width: 969px;
    height: 555px;
    margin-bottom: 200px;
}

@media (max-width: 1100px) {
    .map-images {
        width: 791px;
        height: 453px;
    }
}

@media (max-width: 850px) {
    .address__map {
        padding-top: 27px;
        padding-bottom: 26px;
    }

    .map-images {
        width: 506px;
        height: 290px;
        margin-bottom: 60px;
    }

}

@media (max-width: 568px) {

    .address__map-images {
        width: 43px;
        height: 43px;
    }

    .address__map-text{
       padding-bottom: 10px;
    }

    .address__map-text,
    .address__colortext,
    .address__num {
        font-size: 12px;
        line-height: 13px;
    }

    .map-images {
        width: 290px;
        height: 166px;
    }
}

.popup {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    z-index: 100000000000000000000000000000000;
}

.popup.active {
    opacity: 1;
    visibility: visible;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 250px;
}

.popup__content {
    margin: 10px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1202px;
    position: relative;
    border-radius: 26px;
    padding: 15px 15px  44px 15px;
}
@media (max-width: 1103px) {
    .popup__content {
        padding: 15px 15px 23px 15px;
    }
}
.popup__close {
    position: absolute;
    right: 28px;
    top: 32px;
}

.popup__title {
    font-weight: 400;
    font-size: 38px;
    line-height: 42px;
    text-align: center;
    color: #00C2FF;
    padding-top: 71px;
}

.colortext__popup {
    font-weight: bold;
    font-size: 38px;
    line-height: 42px;
    color: #00FFF0;
    margin-top: 12px;
    display: block;
}

.popup__text {
    font-size: 18px;
    line-height: 20px;
    color: #A9A9A9;
    padding-bottom: 24px;
}


@media (max-width: 630px) {
    .popup__content {
        width: 320px;
        height: 568px;
    }

    .popup__body {
        padding: 0 0;
    }

    .popup__title,
    .colortext__popup {
        font-size: 18px;
        line-height: 20px;
    }

    .popup__text {
        font-size: 20px;
        line-height: 22px;
    }
}

.popup__button {
    font-family: Montserrat Alternates;
    background: linear-gradient(to right, rgba(0, 255, 240, 1), rgba(0, 194, 255, 1));
    width: 345px;
    height: 81px;
    border-radius: 98px;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    color: #FFFFFF;
    text-align: center;
    padding: 20px 56px;
    transition: 0.2s;
    position: relative;
    overflow: hidden;
    border: none;
    text-decoration: none;
    z-index: 1;
    cursor: pointer;
}

.popup__button::before {
    content: '';
    width: 1px;
    height: 200%;
    background: rgba(255, 255, 255, 0.37);
    position: absolute;
    left: 0;
    top: -20px;
    z-index: 1;
    transform: rotate(45deg) translateX(-250%);
    transition: 0.2s;
    box-shadow: 0 0 50px 20px #fff;
    overflow: hidden;
}

.popup__button:hover.popup__button::before {
    transform: translateX(1250%);
    left: 100%;
    transition: 0.2s;
}

@media (max-width: 768px) {
    .popup__button {
        width: 280px;
        height: 55px;
        font-size: 21px;
        padding: 7px;
    }
}

@media (max-width: 568px) {
    .popup__button {
        width: 177px;
        height: 42px;
        font-size: 18px;
        line-height: 22px;
        padding: 10px 27px;
    }
}

.button-block {
    display: block;
    margin: 0 auto;
}

@media (max-width: 468px) {}

.popup__text {
    font-weight: bold;
}

.popup__text-none {
    font-size: 24px;
    line-height: 27px;
    color: #00C2FF;
    position: relative;
    z-index: 10;
}

.popup__text-none::before {
    content: '';
    position: absolute;
    top: 10px;
    left: -10px;
    z-index: 5;
    width: 110%;
    height: 2.5px;
    background-color: rgba(0, 194, 255, 1);
}

.popup__text-now {
    font-size: 28px;
    line-height: 31px;
    color: #00FFF0;
    padding-left: 26px;
}

@media (max-width: 630px) {
    .popup__text-none,
    .popup__text-now {
        font-size: 20px;
        line-height: 22px;
    }

    .popup__input {
        margin-bottom: 16px;
    }
}
.form__block {
    display: flex;
    align-items: center;
}

.popup__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 56px 0;
}


.popup__container__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.popup__container__item:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 64px;
}

.popup__container textarea {
    font-family: Comfortaa;
    font-size: 18px;
    line-height: 20px;
    color: #A9A9A9;
    width: 330px;
    height: 109px;
    font-size: 18px;
    padding: 20px 30px;
    border-radius: 38px;
    resize: none;
    outline: none;
    border: 1.5px solid rgba(169, 169, 169, 1);
}

@media (max-width: 1440px) {
    .popup__container {
        display: block;
        margin-left: 80px;
    }

    .popup__container textarea {
        margin-top: 15px;
        margin-right: 67px;
    }
}

@media (max-width: 630px) {
    .popup__container {
        display: block;
        margin-left: 0;
        margin: 44px 0;
    }

    .popup__container__item:first-child {
        margin-right: 0;

    }

    .popup__user-text {
        margin-top: 25px;
    }

    .popup__container textarea {
        width: 247px;
        height: 88px;
        border-radius: 23px;
        margin-right: 0;
        margin-top: 0;
    }

    .popup__container input {
        width: 247px;
        height: 45px;
        border-radius: 23px;
    }

    .popup__container textarea::placeholder {
        font-size: 12px;
        line-height: 13px;
    }

    .popup__container input::placeholder {
        font-size: 12px;
        line-height: 13px;
    }

}

.popup__container textarea::placeholder {
    color: rgba(169, 169, 169, 1)
}

#recording__text input::placeholder {
    color: rgba(34, 120, 147, 1);
    font-weight: normal;
font-size: 18px;
line-height: 20px;
}

#recording__text textarea::placeholder {
    color: rgba(34, 120, 147, 1)
}


.popup__input {
    font-family: Comfortaa;
    font-size: 18px;
    line-height: 20px;
    color: rgba(169, 169, 169, 1);
    border: 1.5px solid rgba(169, 169, 169, 1);
    box-sizing: border-box;
    border-radius: 28px;
    width: 330px;
    height: 60px;
    outline: none;
    padding: 20px 31px;
}

@media (max-width: 468px) {
    .popup__input {
        width: 247px;
        height: 45px;
    }
}

.popup__textarea {
    margin-bottom: 25px;
}

.popup__input::placeholder {
    color: rgba(169, 169, 169, 1)
}

.popup__input:first-child {
    margin-bottom: 25px;
}

#popup__send {
    margin: 26px 0 71px;
    cursor: pointer;
}


.container-block {
    max-width: 1440px;
    margin: 0 auto;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.footer {
    font-family: 'Comfortaa', cursive;
    width: 100%;
}

.footer__menu {
    background-color: #E4FAFF;
    height: 227px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__menu-nav {
    position: relative;
}

.footer__massanger {
    display: inline-block;
    text-align: right;
    position: absolute;
    top: 0;
    right: -10%;
    transform: translateX(-50%);
}

.footer__inst {
    padding-bottom: 14px;
}


.nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.footer__link {
    height: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.menu__list-link-f {
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    color: #00C2FF;
    margin-left: 82px;
}

.logo__footer {
    margin: 0 auto;
    padding-top: 26px;
    display: none;
}

.footer-massanger {


    display: none;
}

#footer__logo {
    margin-left: 82px;
}

.menu__link-a {
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    color: #00FFF0;
}

@media (max-width: 1200px) {

    .nav,
    .footer__massanger {
        display: none;
    }

    .logo__footer {
        display: block;
    }

    .footer-massanger {
        display: inline-flex;
        margin: 0 auto;
        padding-top: 27px;


    }

    .footer__inst {
        margin-right: 10px;
    }


}

@media (max-width: 467px) {
    .footer__menu {
        height: 120px;
    }

    .footer__link {
        height: 72px;
    }

    .map-images {
        margin-bottom: 60px;
    }
}

@media (max-width: 568px) {

    .menu__link-a {
        font-size: 10px;
        line-height: 11px;
    }

    .footer__a {
        width: 17px;
        height: 17px;
    }
}

.popup__send {
    display: none;
    /* *Cкрыла сообщение об отправке формы */
}

.send__contant {
    position: fixed;
    left: 30%;
    top: 30%;
    margin: 0 auto;
    display: flex;
    width: 40%;
    height: 200px;
    background-color: #FFFFFF;
    border: 1px solid #787878;
    border-radius: 28px;
    flex-direction: column;
    justify-content: center;
    z-index: 999999999996783342323000;
}



.send__text {
    font-size: 42px;
    line-height: 47px;
    color: #00C2FF;
}

@media (max-width: 1100px) {
    .send__contant {
        height: 150px;
    }

    .send__text {
        font-size: 32px;
        line-height: 37px;
    }
}

@media (max-width: 830px) {
    .send__contant {
        height: 100px;
    }

    .send__text {
        font-size: 22px;
        line-height: 27px;
    }
}

@media (max-width: 580px) {
    .send__contant {
        height: 50px;
        border-radius: 17px;
    }

    .send__text {
        font-size: 12px;
        line-height: 13px;
    }
}

.error{
   
    font-size: 18px;
line-height: 20px;
color: #b96060;
}